.map-preview{
  width: 250px;
  height: 250px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 50px;
  box-shadow: 0px 0px 5px grey;
  padding: 5px;
  background: white;
  >div {
    border: 1px solid #ddd;
  }
  
  &.big{
    width:100%;
    height:100%;
    border: none;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    
    >div{
      border: none;
    }
  }
}

.address-search {
  box-shadow: 0px 0px 5px grey;
  padding: 5px;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  border: none;
  padding: 10px;
  width: 150px; 
  transition: width 1s ease-in-out, left 1.5s ease-in-out;
  
  &:focus {
    outline: 0;
    width: 400px;
  }
}