.sv-preview-container {
    background: #ddd;
    padding: 10px;
    position: relative;
    width: 100%;
    
    .sv-preview-panorama{
        box-shadow: 0px 0px 5px grey;
    }
}

.address-search {
  box-shadow: 0px 0px 5px grey;
  padding: 5px;
  background: white;
  position: relative;
  top: 0;
  margin: 20px auto;
  border: none;
  padding: 10px;
  width: 400px; 
  
  &:focus {
    width: 400px;
  }
}

.map-preview{
  height: 200px;
  display: block;
  margin: 0px;
  padding: 0px;
  margin-right: 10px;
  >div {
    border: 1px solid #aaa;
  }
}