<paper-header-panel mode="standard" class="drawer" drawer>
  <paper-toolbar class="paper-header">
    <paper-input-container
      no-label-float="true">
      <input is="iron-input" type="text" placeholder="Search" ng-model="search"/>
      <iron-icon suffix icon="search"></paper-icon-button>
    </paper-input>
  </paper-toolbar>

  <div class="content fit layout vertical menu">
    <div class="menu-section" ng-show="!search || search.length == 0">
      <h4><iron-icon icon="settings"></iron-icon> Settings</h4>
      <div class="menu-section-content">
        <h5>Authentication</h5>
        <paper-input-container always-float-label="true" class="small">
          <label>API key:</label>
          <input is="iron-input" ng-model="menu.settings.apiKey">
        </paper-input-container>
        <paper-input-container always-float-label="true" class="small">
          <label>Client id:</label>
          <input is="iron-input" ng-model="menu.settings.clientId">
        </paper-input-container>
        <paper-input-container always-float-label="true" class="small">
          <label>Crypto key:</label>
          <input is="iron-input" ng-model="menu.settings.cryptoKey">
        </paper-input-container>
      </div>
    </div>

    <div class="menu-section">
      <h4><iron-icon icon="folder"></iron-icon> Saved</h4>
      <div class="menu-section-content">
        <h5 ng-if="menu.provider.requests.length == 0">No saved requests!</h5>
        <ul ng-if="menu.provider.requests.length > 0">
          <li ng-repeat="request in menu.provider.requests | filter: search | orderBy: 'timestamp':true"
            ng-click="menu.openRequest(request)">
            {{request.name}}
          </li>
        </ul>
      </div>
    </div>
  </div>

</paper-header-panel>
